@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
  
  body {
    background: url(../imagens/cosmos2.png) no-reapet;
  }
  #conteiner {
    width: 600px;
    height: 400px;
  }
  #conteiner > #img {
    float: right;
    width: 45%;
    height: 100%;
    background-size: cover;
  }

  .text > p {
    text-align: center;
  }

  #conteiner > .campo {
    float: left;
    width: 50%;
    height: 26px;
    text-align: right;

  }
  .buttom {
    display: block;
    width: 54%;
    height: 20px;
    margin: 3px;
  }
}
@media screen and (min-width:992px) {

  body {
    background: aqua url(../imagens/cosmos3.png) no-repeat;
    background-size: cover;
  }

  #conteiner {
    width: 600px;
    height: 400px;
  }
  #conteiner > #img {
    float: left;
    width: 40%;
    height: 100%;
    background-position: left center ;
  } 
  .text > p {
    text-align: center;
  }

  #conteiner > .campo {
    float: right;
    width: 50%;
    height: 26px;
  }

  .buttom {
    display: block;
    float: right;
    width: 54%;
    height: 20px;
    margin: 3x;
    text-align: right;
  }
  
}