@charset "UTF-8";

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: linear-gradient(to left, #3bcfcf, #098888);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#conteiner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  
  width: 300px;
  height: 500px;
  padding: 7px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.397);
  transform: translate(-50%, -50%);
}

#img {
  display: block;
  height: 200px;
  background: #39fdfd url(../imagens/black-hole.png) no-repeat;
  background-size: cover;
}

.text > h1 {
  text-align: center;
}

#text > p {
  font-size: 2em;
  text-align: center;
  margin: 2px;
  padding: 5px;
}

.campo {
  width: 270px;
  height: 26px;
  margin:  5px;
  padding: 8px;
  background-color: #348a8a85;
  border: 1px solid #3bcfcf4d;
  border-radius: 15px;
}

.campo > input {
  font-size: 1em;
  width: calc(100% - 44px);
  height: 34px;
  margin: -1px -8px;
  padding: 7px;
  padding-bottom: 0;
  border-radius: 15px;
  border: 1px solid #2566664d;;
  transform: translateY(-8px) ;
}

label {
  display: none;
}

section span {
  width: 21px;
  height: 38px;
  margin-top: -8px;
  padding: 8px;
  color: white;
  border: 1px solid #3bcfcf4d;
  transform: translateY(-6px);
}

.buttom > input {
  display: block;
  width: 96%;
  height: 40px;
  margin: 5px;
  padding: 1px;
  border-radius: 15px;
  border: 1px solid #206868ab;
}

.buttom > input:hover {
  background-color: #6dc0c0d0;
  color: white;
}

